<!DOCTYPE html>
<html>
<head>
  <title>Use Case Classifier</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}" type="image/x-icon">

  <!-- Style -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/opensans.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/index.css') }}">
</head>
<body>

<div id="banner">
  <img src="{{ url_for('static', filename = 'img/logo.png') }}" class="logo-banner">
  <h1>Use Case Classifier</h1>
</div>

<form method="POST" enctype="multipart/form-data" action="/upload">
  <div class="form-group">
    <input type="file" name="file[]" id="upload-file" multiple>
  </div>
  <input id="upload-btn" class="btn btn-default" type="submit" value="Classify">
</form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-warning alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
          <ul class="flashes text-left">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
    </div>
  {% endif %}
{% endwith %}

<!-- JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>

</body>
</html>