html{
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
  text-align: center;
  vertical-align: middle;
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 100px 100px 0;
}

input[type=file] {
  margin: 0 auto;
}

.logo-banner {
  width: 250px;
}

#banner {
  margin-bottom: 50px;
}

#upload-btn {
  width: 300px;
  background-color: transparent;
  border: 3px solid white;
  color: white;
}

.alert {
  margin-top: 40px;
}